/* global style variables for our application */
$background-pink: #ff3366; 
$base-font-size: 16px;

@import "landing";
@import "venues";
@import "vendors";
@import "drop_menu";
@import "buttons";
@import "profile";

/* define the mixin */
@mixin radial-gradient($first_color, $second_color) {
  background: -webkit-radial-gradient($first_color, $second_color);
  background: radial-gradient($first_color, $second_color);
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  padding-bottom: 150px;
  padding-top: 95px;
}

body.landing {
  background: $background-pink;
  padding-bottom: 0;
}

body.landing .navbar {
  margin-bottom: 0;
}


.navbar {
  background-color: #ff3366;
  border-color: #ff3366;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  line-height: 100px;
  height: 100px;
}

#sdwlogo {
  height: 280%;
  margin-top: -5px;
}

#sdwmenu-arrow {
  display: inline;
}

#drop-menu {
  position: absolute;
  display: inline-block;
  left: 300px;
  top: 100px;
  width: 500px;
  height: 500px;
  color: white;
  background: $background-pink;
  z-index: 100; 
}
#drop-menu img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

#drop-menu h4 {
  text-align: left;
}



